
body
{
}

.center
{
	text-align: center;
}

.container 
{
	width: 760px;
	margin-left: auto;
	margin-right: auto;
}

.menu
{
	width: 598px;
	height: 31px;
	background-image: url('/images/menu-header.jpg'); 
	background-repeat: x-repeat;
	text-align: center;
	border-right: solid #A0A19B;
	border-right-width: 1px;
}

.menu-home
{
	width: 162px;
	height: 31px;
	background-image: url('/images/menu-home.jpg'); 
	background-repeat: no-repeat;	
}

.menu-news
{
	width: 162px;
	height: 31px;
	background-image: url('/images/menu-news.jpg'); 
	background-repeat: no-repeat;	
}

.menu-leagues
{
	width: 162px;
	height: 31px;
	background-image: url('/images/menu-leagues.jpg'); 
	background-repeat: no-repeat;	
}

.menu-events
{
	width: 162px;
	height: 31px;
	background-image: url('/images/menu-events.jpg'); 
	background-repeat: no-repeat;	
}

.menu-facilities
{
	width: 162px;
	height: 31px;
	background-image: url('/images/menu-facilities.jpg'); 
	background-repeat: no-repeat;	
}

.menu-history
{
	width: 162px;
	height: 31px;
	background-image: url('/images/menu-history.jpg'); 
	background-repeat: no-repeat;	
}

.menu-links
{
	width: 162px;
	height: 31px;
	background-image: url('/images/menu-links.jpg'); 
	background-repeat: no-repeat;	
}

.menu-contact-us
{
	width: 162px;
	height: 31px;
	background-image: url('/images/menu-contact-us.jpg'); 
	background-repeat: no-repeat;	
}

.banner-home
{
	height: 249px;
	width: 760px;
	background-image: url('/images/banner-home.jpg'); 
	background-repeat: no-repeat;
}

.banner-news
{
	height: 249px;
	width: 760px;
	background-image: url('/images/banner-news.jpg'); 
	background-repeat: no-repeat;
}

.banner-leagues
{
	height: 249px;
	width: 760px;
	background-image: url('/images/banner-leagues.jpg'); 
	background-repeat: no-repeat;
}

.banner-events
{
	height: 249px;
	width: 760px;
	background-image: url('/images/banner-events.jpg'); 
	background-repeat: no-repeat;
}

.banner-facilities
{
	height: 249px;
	width: 760px;
	background-image: url('/images/banner-facilities.jpg'); 
	background-repeat: no-repeat;
}

.banner-history
{
	height: 249px;
	width: 760px;
	background-image: url('/images/banner-history.jpg'); 
	background-repeat: no-repeat;
}

.banner-links
{
	height: 249px;
	width: 760px;
	background-image: url('/images/banner-links.jpg'); 
	background-repeat: no-repeat;
}

.banner-contact-us
{
	height: 249px;
	width: 760px;
	background-image: url('/images/banner-contact-us.jpg'); 
	background-repeat: no-repeat;
}

.banner-menu-bottom
{
	height: 42px;
	width: 8px;
	background-image: url('/images/menu-bottom-part.jpg'); 
	background-repeat: repeat-x;
}

.yellow-button
{
	width: 14px;
	height: 19px;
	background-image: url('images/yellow-button.gif'); 
	background-repeat: no-repeat;
}

.text12
{
	FONT: 12pt Verdana, "trebuchet MS", helvetica, sans-serif; 
}

.text7
{
	FONT: 7pt Verdana, "trebuchet MS", helvetica, sans-serif; 
}

.text12Red
{
	FONT: 12pt Verdana, "trebuchet MS", helvetica, sans-serif; 
	color: red;
}

.text12Blue
{
	FONT: 12pt Verdana, "trebuchet MS", helvetica, sans-serif; 
	color: #014F8D;
}

.text
{
	FONT: 10pt Verdana, "trebuchet MS", helvetica, sans-serif; 
}

.textBold
{
	FONT: 10pt Verdana, "trebuchet MS", helvetica, sans-serif;
	color: #6c6c6c;
	font-weight: bold;
}

.text11Bold
{
	FONT: 11pt Verdana, "trebuchet MS", helvetica, sans-serif;
	color: #6c6c6c;
	font-weight: bold;
}

.error
{
	FONT: 9pt Verdana, "trebuchet MS", helvetica, sans-serif; 
	color: red;
}

h1
{
	FONT: 12pt Verdana, "trebuchet MS", helvetica, sans-serif; 
	color: #6c6c6c;
	font-weight: bold;
}

h2
{
	FONT: 11pt Verdana, "trebuchet MS", helvetica, sans-serif; 
	color: #6c6c6c;
	font-weight: bold;
}

h3
{
	FONT: 10pt Verdana, "trebuchet MS", helvetica, sans-serif; 
	color: #6c6c6c;
	font-weight: bold;
}

A.links:link {text-decoration: none; }
A.links:visited {text-decoration: none; }
A.links:active {text-decoration: none; }
A.links:hover {text-decoration: underline; color: red; }

.links
{
	FONT: 10pt Verdana, "trebuchet MS", helvetica, sans-serif;
	color: #6c6c6c;
}

.red-disclaimer
{
	FONT: 8pt Verdana, "trebuchet MS", helvetica, sans-serif; 
	color: red;
	font-weight: bold;
}

.contentBorder
{
	border-left: solid #A0A19B;
	border-left-width: 1px;

	border-right: solid #A0A19B;
	border-right-width: 1px;
	
	border-bottom: solid #A0A19B;
	border-bottom-width: 1px;
}

.hiddenBlock
{
	visibility: hidden;
	display: none;
}

.visibleBlock
{
	visibility: visible;
	display: block;
}

div.inner 
{ 
	margin: 0; 
	background: #FFFFFF; 
	padding: 3px; 
	border:0; 
	zoom:1;
}

div.outer 
{ 
	float: right;
	background: #00502e; 
	padding: 8px; 
	width: 265px; 
	margin-top: 5px;
	margin-left: 25px;
	margin-right: 5px;
	margin-bottom: 5px;
}

.sponsorText
{
	FONT: 10pt Verdana, "trebuchet MS", helvetica, sans-serif;
	color: #00502e;
	font-weight: bold;
	padding-bottom:5px;
}

.sponsorDetailText
{
	FONT: 10pt Verdana, "trebuchet MS", helvetica, sans-serif;
	color: #00502e;
	padding-bottom:5px;
	//font-weight: bold;
}
