<table cellpadding='0' cellspacing='0' border='0'>	
	<tr><td colspan='3'><img alt='spacer' border='0' src='/images/spacer.gif' height='5' /></td></tr>

	<tr>
		<td><img alt='spacer' src='/images/spacer.gif' width='11' height='21' /></td>
		<td><img name='homeButton' alt='Home' border='0' src='/images/yellow-button.gif' /><a onmouseover='changeButtonRed("homeButton");' onMouseout='changeButtonYellow("homeButton");' class='links' href='index.html'><img alt='home link' border='0' width='124' src='/images/menu-home.gif' /></a></td>
		<td><img alt='spacer' src='/images/spacer.gif' width='1' height='1' /></td>
	</tr>
	<tr><td colspan='3'><img alt='spacer' border='0' src='/images/spacer.gif' height='2' /></td></tr>
	<tr>
		<td><img alt='spacer' src='/images/spacer.gif' width='10' height='1' /></td>
		<td><img name='newsButton' alt='News' border='0' src='/images/yellow-button.gif' /><a onmouseover='changeButtonRed("newsButton");' onMouseout='changeButtonYellow("newsButton");' class='links' href='curling-news.html'><img alt='news link' border='0' width='124' src='/images/menu-news.gif' /></a></td>
		<td><img alt='spacer' src='/images/spacer.gif' width='1' height='1' /></td>
	</tr>
	<tr><td colspan='3'><img alt='spacer' border='0' src='/images/spacer.gif' height='2' /></td></tr>					
	<tr>
		<td><img alt='spacer' src='/images/spacer.gif' width='10' height='1' /></td>
		<td><img name='leaguesButton' alt='leagues' border='0' src='/images/yellow-button.gif' /><a onmouseover='changeButtonRed("leaguesButton");' onMouseout='changeButtonYellow("leaguesButton");' class='links' href='curling-leagues.html'><img alt='curling leagues link' border='0' width='124' src='/images/menu-leagues.gif' /></a></td>
		<td><img alt='spacer' src='/images/spacer.gif' width='1' height='1' /></td>
	</tr>
	<tr><td colspan='3'><img alt='spacer' border='0' src='/images/spacer.gif' height='2' /></td></tr>
	<tr>
		<td><img alt='spacer' src='/images/spacer.gif' width='10' height='1' /></td>
		<td><img name='bonspielsButton' alt='Bonspiels and Events' border='0' src='/images/yellow-button.gif' /><a onmouseover='changeButtonRed("bonspielsButton");' onMouseout='changeButtonYellow("bonspielsButton");' class='links' href='curling-bonspiels.html'><img alt='bonspiels and events link' border='0' width='124' src='/images/menu-bonspiels.gif' /></a></td>
		<td><img alt='spacer' src='/images/spacer.gif' width='1' height='1' /></td>
	</tr>
	<tr><td colspan='3'><img alt='spacer' border='0' src='/images/spacer.gif' height='2' /></td></tr>
	<tr>
		<td><img alt='spacer' src='/images/spacer.gif' width='10' height='1' /></td>
		<td><img name='facilitiesButton' alt='Facilities' border='0' src='/images/yellow-button.gif' /><a onmouseover='changeButtonRed("facilitiesButton");' onMouseout='changeButtonYellow("facilitiesButton");' class='links' href='curling-facility.html'><img alt='facilities link' border='0' width='124' src='/images/menu-facilities.gif' /></a></td>
		<td><img alt='spacer' src='/images/spacer.gif' width='1' height='1' /></td>
	</tr>
	<tr><td colspan='3'><img alt='spacer' border='0' src='/images/spacer.gif' height='2' /></td></tr>
	<tr>
		<td><img alt='spacer' src='/images/spacer.gif' width='10' height='1' /></td>
		<td><img name='memberButton' alt='Member Recognition' border='0' src='/images/yellow-button.gif' /><a onmouseover='changeButtonRed("memberButton");' onMouseout='changeButtonYellow("memberButton");' class='links' href='member-recognition.html'><img alt='Member Recognition link' border='0' width='124' src='/images/member_rec.jpg' /></a></td>
		<td><img alt='spacer' src='/images/spacer.gif' width='1' height='1' /></td>
	</tr>
	<tr><td colspan='3'><img alt='spacer' border='0' src='/images/spacer.gif' height='2' /></td></tr>
	<tr>
		<td><img alt='spacer' src='/images/spacer.gif' width='10' height='1' /></td>
		<td><img name='historyButton' alt='History' border='0' src='/images/yellow-button.gif' /><a onmouseover='changeButtonRed("historyButton");' onMouseout='changeButtonYellow("historyButton");' class='links' href='balmoral-curling-history.html'><img alt='facilities link' border='0' width='124' src='/images/menu-history.gif' /></a></td>
		<td><img alt='spacer' src='/images/spacer.gif' width='1' height='1' /></td>
	</tr>
	<tr><td colspan='3'><img alt='spacer' border='0' src='/images/spacer.gif' height='2' /></td></tr>
	<tr>
		<td><img alt='spacer' src='/images/spacer.gif' width='10' height='1' /></td>
		<td><img name='linksButton' alt='Links' border='0' src='/images/yellow-button.gif' /><a onmouseover='changeButtonRed("linksButton");' onMouseout='changeButtonYellow("linksButton");' class='links' href='curling-links.html'><img alt='facilities link' border='0' width='124' src='/images/menu-links.gif' /></a></td>
		<td><img alt='spacer' src='/images/spacer.gif' width='1' height='1' /></td>
	</tr>
	<tr><td colspan='3'><img alt='spacer' border='0' src='/images/spacer.gif' height='2' /></td></tr>
	<tr>
		<td><img alt='spacer' src='/images/spacer.gif' width='10' height='1' /></td>
		<td><img name='contactUsButton' alt='Contact Us' border='0' src='/images/yellow-button.gif' /><a onmouseover='changeButtonRed("contactUsButton");' onMouseout='changeButtonYellow("contactUsButton");' class='links' href='contact-us.html'><img alt='facilities link' border='0' width='124' src='/images/menu-contactus.gif' /></a></td>
		<td><img alt='spacer' src='/images/spacer.gif' width='1' height='1' /></td>
	</tr>
	<tr><td class='banner-menu-bottom' colspan='3'></td></tr>
</table>