{{ partial "header.html" . }}

<div class="container">	
	<div class='banner-home'></div>
	
	<table width='760' cellpadding='0' cellspacing='0' border='0'>
		<tr>
			<td class='menu-home'></td>
			<td class='menu'><span class='textBold'><span class="textBold">Welcome to Curl Balmoral</span></span></td>
		</tr>
	</table>

	<table class='contentBorder' width='760' cellpadding='0' cellspacing='0' border='0'>
		<tr>
			<td valign='top' width='161' style='background-color: #00502e;' >
				{{ partial "left-menu.html" . }}
			</td>
			<td valign='top' width='599'>
				<table class='text' width='599' cellpadding='0' cellspacing='0' border='0'>
					<tr>
						<td style='padding-left: 10px;'>
							<p>
{{ partial "sponsor.html" . }}
</p>
<div>
<br /><br />
<p class="text" style="text-align: left">
Welcome to the Balmoral Curling Club website. This website will allow you to keep up to date on the latest news and events at the Balmoral Curling Club.
</p>
<span class="text" style="text-align: left"><br />
<a class="links" href="member-recognition.html"><span class="text12Red">Check out the Curl Balmoral Member Recognition Program and nominate someone today!</span></a>
<br />
<br />
<span class="text" style="text-align: left"><br />
<br />
<table class="text" border="0" cellspacing="0" cellpadding="0" width="100%">
<tbody>
<tr valign="top">
<td align="left">
			Click on the links on the left menu for details about our News / Leagues / Upcoming Bonspiels and Events.
			<br /><br />
Any new adult curlers who haven't curled in Balmoral in the past 3 years will only have to pay 50% of the registration fee. 
			<br /><br />
Registration fee for any additional 2nd league will be 50%. 
			<br /><br /><br />
Curling will begin approximately the last week in October, league reps will contact you with the start date after registration. 
<br /><br /><br />
			<a class="links" href="balmoral-map.html"><img src="images/arrow-right.gif" border="0" alt="arrow" />&nbsp;<strong>Map to Balmoral Curling Club</strong></a>
		</td>
<td>&nbsp;</td>
</tr>
</tbody>
</table>
</span></span></div>
<p>&nbsp;</p>
<div style="float: left;">
	<span class="text7">Updated: January 2, 2025</span></div>
<p>&nbsp;</p>
						</td>
					</tr>
				</table>			
			</td>
		</tr>
	</table>
	
</div>

{{ partial "footer.html" . }}
