<div class="container">	
	<div class='banner-leagues'></div>
	
	<table width='760' cellpadding='0' cellspacing='0' border='0'>
		<tr>
			<td class='menu-leagues'></td>
			<td class='menu'><span class='textBold'>
<span class="textBold"></span>
</span></td>
		</tr>
	</table>

	<table class='contentBorder' width='760' cellpadding='0' cellspacing='0' border='0'>
		<tr>
			<td valign='top' width='161' style='background-color: #00502e;' >
				{{ partial "left-menu.html" . }}
			</td>
			<td valign='top' width='599'>
				<table class='text' width='599' cellpadding='0' cellspacing='0' border='0'>
					<tr>
						<td style='padding-left: 10px;'>
							<p><table class='text' width='100%' border='0' cellspacing='0' cellpadding='2'><tr><td colspan='2'><br /><a class='links' href='curling-leagues.html'><span class='text11Bold'>Wednesday After School Youth Curling League </span></a></td><td style='width: 210px;' valign='top' rowspan='6' align='right'><img alt='curling picture' width='210' border='0' src='images/curling-1max.gif' /></td></tr><tr><td colspan='2'>&nbsp;</td></tr><tr><td style='padding-left:10px;' align='left'>Time:&nbsp;</td><td align='left'>4:00 pm </td></tr><tr><td style='padding-left:10px;' align='left'>Start Date:&nbsp;</td><td align='left'>November 6, 2024</td></tr><tr><td style='padding-left:10px;' align='left'>Fee:&nbsp;</td><td align='left'><span style='color:red;'>$65 </span></td></tr><tr valign='top'><td style='padding-left:10px;' align='left'>League&nbsp;Rep:</td><td align='left'>Cindy Schaeffer &nbsp;&nbsp;&nbsp;204-461-4154 <br /><a href='mailto:mcschaeffer2@gmail.com '>mcschaeffer2@gmail.com </a></td></tr><tr><td colspan='2'><img border='0' src='images/spacer.gif' height='10' alt='spacer' /></td></tr></table><table class='text' width='100%' border='0' cellspacing='0' cellpadding='0'><tr><td style='width:100px; padding-right:5px;' valign='top'>Description:&nbsp;</td><td colspan='2' align='left'>Balmoral youth curlers from grade 3 to 8 will meet at the Balmoral Curling Rink every Wednesday from 4:00 - 5:00. Fun activities for beginner or advanced youth on and off the ice will help participants begin their lifelong experience with curling. Basic techniques to advanced leadership skills will be taught depending on abilities. Parents are welcome to attend and assist. Curling shoes or clean indoor runners are required while full sliders and push brooms are recommended.</td></tr></table><br /><table width='100%' border='0' cellspacing='0' cellpadding='0'><tr align='center'></tr></table></p>
						</td>
					</tr>
				</table>			
			</td>
		</tr>
	</table>
	
</div>
