<div class="container">	
	<div class='banner-contact-us'></div>
	
	<table width='760' cellpadding='0' cellspacing='0' border='0'>
		<tr>
			<td class='menu-contact-us'></td>
			<td class='menu'><span class='textBold'>
<span class="textBold"></span>
</span></td>
		</tr>
	</table>

	<table class='contentBorder' width='760' cellpadding='0' cellspacing='0' border='0'>
		<tr>
			<td valign='top' width='161' style='background-color: #00502e;' >
				{{ partial "left-menu.html" . }}
			</td>
			<td valign='top' width='599'>
				<table class='text' width='599' cellpadding='0' cellspacing='0' border='0'>
					<tr>
						<td style='padding-left: 10px;'>
							<p>
<form method="post" action="contact-inquiry.html">
    <input type="hidden" name="formid" value="feedbackForm" />

<table align='center' class='text' cellspacing='5' cellpadding='0' border='0'>
	<tr><td><h2>Send us your Inquiry</h2></td></tr>
	<tr>
		<td align='left'>Your Name:&nbsp;<input type="text" name="name" maxlength="60"  /></td>
	</tr>
	<tr>
		<td>Your Email:&nbsp;<input type="text" name="email" size="40" maxlength="40"  /></td>
	</tr>
	<tr><td>&nbsp;</td></tr>
	<tr><td>Your Inquiry:</td></tr>
	<tr>
		<td valign='top'><textarea cols="40" rows="10" name="comments" ></textarea></td>
	</tr>
	<tr><td><img alt='spacer' border='0' src='images/spacer.gif' height='10' /></td></tr>
        <tr>
               <td>Please enter the anti spam code below:<br />
    <img src="/manager/includes/veriword.php?rand=1965686037" alt="verification code" border="1"/></td>
        </tr>
	<tr><td><img alt='spacer' border='0' src='images/spacer.gif' height='10' /></td></tr>
       <tr><td><label accesskey="c" for="vericode">code</label>
    <input type="text" name="vericode" size="20" /></td></tr>
	<tr><td><img alt='spacer' border='0' src='images/spacer.gif' height='10' /></td></tr>
	<tr>
		<td><input type='submit' name='action' value='Send Inquiry' /></td>
	</tr>
</table>
<br /><br />
   
</form> </p>
						</td>
					</tr>
				</table>			
			</td>
		</tr>
	</table>
	
</div>