<div class="container">	
	<div class='banner-contact-us'></div>
	
	<table width='760' cellpadding='0' cellspacing='0' border='0'>
		<tr>
			<td class='menu-contact-us'></td>
			<td class='menu'><span class='textBold'>
<span class="textBold">Curl Balmoral Contact Us</span>
</span></td>
		</tr>
	</table>

	<table class='contentBorder' width='760' cellpadding='0' cellspacing='0' border='0'>
		<tr>
			<td valign='top' width='161' style='background-color: #00502e;' >
				{{ partial "left-menu.html" . }}
			</td>
			<td valign='top' width='599'>
				<table class='text' width='599' cellpadding='0' cellspacing='0' border='0'>
					<tr>
						<td style='padding-left: 10px;'>
							<p>
{{ partial "sponsor.html" . }}
</p>
<table class="text" border="0" cellspacing="0" cellpadding="0" width="550" align="center">
<tbody>
<tr>
<td colspan="3" align="center">
<h1>Balmoral Curling Club Contact</h1>
</td>
</tr>
<tr>
<td colspan="3"><img src="images/spacer.gif" border="0" alt="spacer" height="10" /></td>
</tr>
<tr>
<td colspan="3"><span class="textBold">President:</span></td>
</tr>
<tr>
<td>&nbsp;&nbsp;&nbsp;Jason Mushaluk</td>
<td>204-461-0118</td>
<td align="right"><a href="mailto:jason.mushaluk@gmail.com">jason.mushaluk@gmail.com</a></td>
</tr>
<tr>
<td colspan="3"><img src="images/spacer.gif" border="0" alt="spacer" height="10" /></td>
</tr>
<tr>
<td colspan="3"><span class="textBold">Vice President:</span></td>
</tr>
<tr>
<td>&nbsp;&nbsp;&nbsp;Kyle Loehmer</td>
<td>204-791-9137</td>
<td align="right"><a href="mailto:loehmer.k@gmail.com">loehmer.k@gmail.com</a></td>
</tr>
<tr>
<td colspan="3"><img src="images/spacer.gif" border="0" alt="spacer" height="10" /></td>
</tr>
<tr>
<td colspan="3"><span class="textBold">Treasurer:</span></td>
</tr>
<tr>
<td>&nbsp;&nbsp; Dylan Lucas</td>
<td>204-228-2526</td>
<td align="right"><a href="mailto:dylanlucas1992@gmail.com">dylanlucas1992@gmail.com</a></td>
</tr>
<tr>
<td colspan="3"><img src="images/spacer.gif" border="0" alt="spacer" height="10" /></td>
</tr>
<tr>
<td colspan="3"><span class="textBold">Secretary:</span></td>
</tr>
<tr>
<td>&nbsp;&nbsp;&nbsp;Jaime Williams</td>
<td>204-467-9780</td>
<td align="right"><a href="mailto:jaimekwilliams07@gmail.com">jaimekwilliams07@gmail.com</a></td>
</tr>
<tr>
<td colspan="3"><img src="images/spacer.gif" border="0" alt="spacer" height="10" /></td>
</tr>
<tr>
<td><span class="textBold">League Reps:</span></td>
</tr>
<tr>
<td>&nbsp;&nbsp; Kelsey Sigfusson (Monday ladies)<br /></td>
<td>204-768-0643</td>
<td align="right"><a href="mailto:sigfussonk@gmail.com">sigfussonk@gmail.com</a></td>
</tr>
<tr>
</tr>
<tr>
<td>&nbsp;&nbsp;&nbsp;Jason Mushaluk (Tuesday Men's)</td>
<td>204-461-0118</td>
<td align="right"><a href="mailto:jason.mushaluk@gmail.com">jason.mushaluk@gmail.com</a></td>
</tr>
<tr>
<td>&nbsp;&nbsp; Jason Dodd (Thursday Men's)<br /></td>
<td>204-461-1665</td>
<td align="right"><a href="mailto:jasonjdodd@yahoo.ca">jasonjdodd@yahoo.ca</a></td>
</tr>
<tr>
<td>&nbsp;&nbsp; Cindy Schaeffer (Wednesday Youth)<br /></td>
<td>204-461-4154</td>
<td align="right"><a href="mailto:mcschaeffer2@gmail.com">mcschaeffer2@gmail.com</a></td>
</tr>
<tr>
<td>&nbsp;&nbsp; Darrel Argan (Friday Open)<br /></td>
<td>204-467-9357</td>
<td align="right"><a href="mailto:darrelargan@yahoo.ca">darrelargan@yahoo.ca</a></td>
</tr>
<tr>
</tr>
<tr>
<td colspan="3"><img src="images/spacer.gif" border="0" alt="spacer" height="10" /></td>
</tr>
<tr>
<td><span class="textBold">Ice Maker:</span></td>
</tr>
<tr>
<td>&nbsp;&nbsp;&nbsp;Geoff Snell</td>
<td>204-513-1365</td>
<td align="right"><a href="mailto:sks700.snell@gmail.com">sks700.snell@gmail.com</a></td>
</tr>
<tr>
</tr>
<tr>
<td colspan="3"><img src="images/spacer.gif" border="0" alt="spacer" height="20" /></td>
</tr>
<tr>
<td><span class="textBold">Member Recognition Program:</span></td>
</tr>
<tr>
<td>&nbsp;&nbsp;&nbsp;Shirley Williams</td>
<td>204-467-2758</td>
<td align="right"><a href="mailto:williamsfarm@mymts.net">williamsfarm@mymts.net</a></td>
</tr>
<tr>
<td colspan="3"><img src="images/spacer.gif" border="0" alt="spacer" height="20" /></td>
</tr>
<!--
<tr>
<td colspan="3" align="center"><a class="links" href="contact-inquiry.html">
<h1>Send An Inquiry</h1>
</a></td>
</tr>
-->
</tbody>
</table>
						</td>
					</tr>
				</table>			
			</td>
		</tr>
	</table>
	
</div>
