<div class="container">	
	<div class='banner-home'></div>
	
	<table width='760' cellpadding='0' cellspacing='0' border='0'>
		<tr>
			<td class='menu-home'></td>
			<td class='menu'><span class='textBold'>
<span class="textBold">Curl Balmoral Facilities</span>
</span></td>
		</tr>
	</table>

	<table class='contentBorder' width='760' cellpadding='0' cellspacing='0' border='0'>
		<tr>
			<td valign='top' width='161' style='background-color: #00502e;' >
				{{ partial "left-menu.html" . }}
			</td>
			<td valign='top' width='599'>
				<table class='text' width='599' cellpadding='0' cellspacing='0' border='0'>
					<tr>
						<td style='padding-left: 10px;'>
							<p>
{{ partial "sponsor.html" . }}
</p>
<h2>Facility Rentals</h2>
<p class="text" align="left">
The Balmoral Curling Club is a three sheet facility with an upstairs lounge / viewing area as well as an attached restaurant. The facility is great for 'fun-spiels' with family, friends or co-workers. The lounge area can hold up to 80 people and can be rented on its own. Bar service is included in the price of each rental and restaurant service can be arranged. The following is a price list for different rentals we offer.
</p>
<table class="text" border="0" width="450" align="center">
<tbody>
<tr>
<td style="text-align: left;">2+ Hour Ice Rental</td>
<td style="text-align: right;">$40/hr</td>
</tr>
<tr>
<td style="text-align: left;">Lounge Rental Only</td>
<td style="text-align: right;">$120</td>
</tr>
<tr>
<td style="text-align: left;">Lounge Rental with Bar Service</td>
<td style="text-align: right;">$150 + additional $15/hr that a bartender is required</td>
</tr>
</tbody>
</table>
<p>&nbsp;</p>
<table class="red-disclaimer" style="padding-left: 10px; padding-right: 10px;" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td align="left"><br /></td>
</tr>
</tbody>
</table>
<table class="text" border="0" cellspacing="0" cellpadding="0" width="400" align="center">
<tbody>
<tr>
<td colspan="3"><span class="textBold">For Bookings:</span></td>
</tr>
<tr>
<td>&nbsp;&nbsp;&nbsp;Neil Stewart</td>
<td>204-803-0840</td>
<td align="right"><a href="mailto:neilstewart1959@gmail.com">neilstewart1959@gmail.com</a></td>
</tr>
<tr>
<td colspan="3"><img src="images/spacer.gif" border="0" alt="spacer" height="10" /></td>
</tr>
</tbody>
</table>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
						</td>
					</tr>
				</table>			
			</td>
		</tr>
	</table>
	
</div>