<div class="container">	
	<div class='banner-events'></div>
	
	<table width='760' cellpadding='0' cellspacing='0' border='0'>
		<tr>
			<td class='menu-events'></td>
			<td class='menu'><span class='textBold'>
<span class="textBold">Curl Balmoral Bonspiels & Events</span>
</span></td>
		</tr>
	</table>

	<table class='contentBorder' width='760' cellpadding='0' cellspacing='0' border='0'>
		<tr>
			<td valign='top' width='161' style='background-color: #00502e;' >
				{{ partial "left-menu.html" . }}
			</td>
			<td valign='top' width='599'>
				<table class='text' width='599' cellpadding='0' cellspacing='0' border='0'>
					<tr>
						<td style='padding-left: 10px;'>
							<p>
{{ partial "sponsor.html" . }}
</p>
<!--
<table border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td align="left">
			&nbsp;<span class="textBold">Bud, Spud &amp; Steak night at the Rock</span>
	
<table class="&lt;?php print (&quot;$style0&quot;); ?&gt;, text" style="padding-left: 15px;" border="0" cellspacing="0" cellpadding="2">
<tbody>

<tr>
<td><img src="images/spacer.gif" border="0" alt="spacer" height="5" /></td>
</tr>
<tr>
<td align="left" valign="top">Date:&nbsp;</td><td>Cancelled Due to COVID-19<br /></td>
</tr>

<tr>
<td colspan="2" align="left">Tickets are $20. Contact any board member for tickets. </td>
</tr>

</tbody>
</table>

<br />
		</td>
</tr>
</tbody>
</table>
-->
<table border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td align="left">
			<span class="textBold">Balmoral Two Person Stick Spiel</span>
			
<table class="&lt;?php print (&quot;$style0&quot;); ?&gt;, text" style="padding-left: 15px;" border="0" cellspacing="0" cellpadding="2">
<tbody>
<tr>
<td><img src="images/spacer.gif" border="0" alt="spacer" height="5" /></td>
</tr>
<tr>
<td align="left">Date:&nbsp;</td>
<td>December 14, 2024<br /></td>
</tr>
<tr>
<td align="left" valign="top">Fee:&nbsp;</td>
<td align="left">$40 / team<br/>3 Game Guarantee<br />20 Team Maximum<br />MSCA Tour Event</td>
</tr>
<tr>
<td valign="top">Contact:&nbsp;</td>
<td align="left">Neil Stewart<br />204-803-0840<br /><a rel="nofollow" href="mailto:neilstewart1959@gmail.com" target="_blank">neilstewart1959@gmail.com</a>
</td>
</tr>
</tbody>
</table>
<br />
		</td>
</tr>
</tbody>
</table>
<table border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td align="left">
			<span class="textBold">Balmoral Ladies Bonspiel</span>
			
<table class="&lt;?php print (&quot;$style0&quot;); ?&gt;, text" style="padding-left: 15px;" border="0" cellspacing="0" cellpadding="2">
<tbody>
<tr>
<td><img src="images/spacer.gif" border="0" alt="spacer" height="5" /></td>
</tr>
<tr>
<td align="left">Date:&nbsp;</td>
<td>November 22 - 23, 2024<br /></td>
</tr>
<tr>
<td align="left">Fee:&nbsp;</td>
<td align="left">$140 / team</td>
</tr>
<tr>
<td valign="top">Contact:&nbsp;</td>
<td align="left">Kelsey Sigfusson<br />204-768-0643<br /><a rel="nofollow" href="mailto:sigfussonk@gmail.com" target="_blank">sigfussonk@gmail.com</a>
</td>
</tr>
</tbody>
</table>
<br />
		</td>
</tr>
</tbody>
</table>
<table border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td align="left">
			&nbsp;<span class="textBold">Quiz Night</span>
			
<table class="&lt;?php print (&quot;$style0&quot;); ?&gt;, text" style="padding-left: 15px;" border="0" cellspacing="0" cellpadding="2">
<tbody>
<tr>
<td><img src="images/spacer.gif" border="0" alt="spacer" height="5" /></td>
</tr>
<tr>
<td align="left">Date:&nbsp;</td>
<td>TBD</td>
</tr>
<tr>
<td align="left">Fee:&nbsp;</td>
<td align="left">$200 / team</td>
</tr>
<tr>
<td valign="top">Contact:&nbsp;</td>
<td align="left">Jason Mushaluk<br />204-461-0118<br /><a rel="nofollow" href="mailto:jason.mushaluk@gmail.com" target="_blank"><span style="color: #0000ff;">jason.mushaluk@gmail.com</span></a></td>
</tr>

</tbody>
</table>
<br />
		</td>
</tr>
</tbody>
</table>
<table border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td align="left">
			&nbsp;<span class="textBold">Balmoral Open Bonspiel</span>
			
<table class="&lt;?php print (&quot;$style0&quot;); ?&gt;, text" style="padding-left: 15px;" border="0" cellspacing="0" cellpadding="2">
<tbody>
<tr>
<td><img src="images/spacer.gif" border="0" alt="spacer" height="5" /></td>
</tr>
<tr>
<td align="left">Date:&nbsp;</td>
<td>February 7 - 8, 2025<br /></td>
</tr>
<tr>
<td align="left">Fee:&nbsp;</td>
<td align="left">$140 / team</td>
</tr>
<tr>
<td valign="top">Contact:&nbsp;</td>
<td align="left">Darrel  Argan<br />204-467-9357<br /><a rel="nofollow" href="mailto:darrelargan@yahoo.ca" target="_blank"><span style="color: #0000ff;">darrelargan@yahoo.ca</span></a></td>
</tr>
</tbody>
</table>
<br />
		</td>
</tr>
</tbody>
</table>
<table border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td align="left">
			&nbsp;<span class="textBold">Balmoral Men's Bonspiel</span>
			
<table class="&lt;?php print (&quot;$style0&quot;); ?&gt;, text" style="padding-left: 15px;" border="0" cellspacing="0" cellpadding="2">
<tbody>
<tr>
<td><img src="images/spacer.gif" border="0" alt="spacer" height="5" /></td>
</tr>
<tr>
<td align="left">Date:&nbsp;</td>
<td>February 27 - March 2, 2025<br /></td>
</tr>
<tr>
<td align="left">Fee:&nbsp;</td>
<td align="left">$160 / team</td>
</tr>
<tr>
<td valign="top">Contact:&nbsp;</td>
<td align="left">Jason Dodd<br />204-461-1665<br /><a rel="nofollow" href="mailto:jasonjdodd@yahoo.ca" target="_blank">jasonjdodd@yahoo.ca</a></td>
</tr>
</tbody>
</table>
<br />
		</td>
</tr>
</tbody>
</table>
<table border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td align="left">
			&nbsp;<span class="textBold">Balmoral League Windup</span>
			
<table class="&lt;?php print (&quot;$style0&quot;); ?&gt;, text" style="padding-left: 15px;" border="0" cellspacing="0" cellpadding="2">
<tbody>
<tr>
<td><img src="images/spacer.gif" border="0" alt="spacer" height="5" /></td>
</tr>
<tr>
<td align="left" style="width:60px;">Date:&nbsp;</td>
<td>April 5, 2025</td>
</tr>
<tr>
<td colspan="2" align="left">Annual AGM, Honorary Member Recognition, TV Ticket Draw, 200 Club Draw and Dinner will take place.</td>
</tr>
</tbody>
</table>
<br />
		</td>
</tr>
</tbody>
</table>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
						</td>
					</tr>
				</table>			
			</td>
		</tr>
	</table>
	
</div>
