<div class="container">	
	<div class='banner-history'></div>
	
	<table width='760' cellpadding='0' cellspacing='0' border='0'>
		<tr>
			<td class='menu-history'></td>
			<td class='menu'><span class='textBold'>
<span class="textBold">Curl Balmoral History</span>
</span></td>
		</tr>
	</table>

	<table class='contentBorder' width='760' cellpadding='0' cellspacing='0' border='0'>
		<tr>
			<td valign='top' width='161' style='background-color: #00502e;' >
				{{ partial "left-menu.html" . }}
			</td>
			<td valign='top' width='599'>
				<table class='text' width='599' cellpadding='0' cellspacing='0' border='0'>
					<tr>
						<td style='padding-left: 10px;'>
							<p>
{{ partial "sponsor.html" . }}
</p>
<div style="text-align: left">
<h3>March 23, 1935</h3>
<p class="text">A public meeting is called "to discuss the building of a curling rink". "moved by Reg Brown seconded by Russell Fox that we build a three sheet curling rink. carried."<br /><br />
Public canvass committee C. Chatfield, Reg Brown, Dan Simpson, Don Simpson, G. Shipley, Roy Bristow, R. Fox, O. Austin, C. Shipley, G. Barbour, W. Peacock, John Thompson, Robt. Main and L. Main.
	</p>
<h3>April 30, 1938</h3>
<p class="text">A further district canvass is to be done by Mr. Walley and that each family be asked for $10.<br />R. Bristow, R. Brown, and G. Shipley were charged with getting estimates for construction of a curling rink.</p>
<h3>May 25, 1938</h3>
<p class="text">Anderson Lumber Company of Teulon were awarded contract for materials to build the curling rink.</p>
<h3>October 22, 1938</h3>
<p class="text">R. Brown and Dave Bruce were authorized to buy 18 pairs of curling rocks.</p>
<h3>November 2, 1938</h3>
<p class="text">A meeting was held to form the Balmoral Curling Club for the 1938/1939 season.<br /><br />
			First executive for the club: President - C. Shipley, 1st  Vice - Roy Bristow, 2nd Vice - H. Van Alstine, Sec - Treas - Reg Brown.
			It was moved to use the by-laws of the Stonewall Curling Club and that the club be affiliated with the Manitoba Curling Association.<br /><br />
			Fees: $5.00 for rock owners; $5.50 for non rock owners; $3.00 for ladies and $2.50 for junior curlers.<br /><br />
			First caretaker: Len Webb</p>
<h3>April 5, 1939</h3>
<p class="text">First "Annual Meeting of the Balmoral Curling Club". It was moved to adopt the rules and by-laws of the Manitoba Curling Ass. for the 1939/1940 season and C. Shipley was elected to be the delegate to the MCA Annual Meeting.</p>
<h3>November 16, 1939</h3>
<p class="text">Discussion to purchase dishes for the rink starting with donations of 3 doz cups &amp; saucers, 3 doz. spoons and a coffee pot.<br /><br />
First draw of the 1939 Novelty Bonspiel was at 12 noon on Feb 26, 1940.</p>
<h3>December 2, 1941</h3>
<p class="text">Motion to enlarge the upstairs waiting room.</p>
<h3>April 10, 1941</h3>
<p class="text">Lady curlers included on membership and entertainment committees;	Mrs. D. H. Simpson, Mrs. F. Croy, Mrs. O. Mollard and Mrs. Smith.</p>
<h3>January 31, 1941</h3>
<p class="text">Moved that the club take part in the district competition to be held in Gunton.</p>
<h3>November 15, 1941</h3>
<p class="text">Moved that the club start the season with a Red Cross Bonspiel with an entry fee of $2.</p>
<h3>December 6, 1941</h3>
<p class="text">Moved that the President and Past President meet with the Lady curlers to plan the remodeling of the waiting room.</p>
<h3>February 7, 1942</h3>
<p class="text">Moved that the annual bonspiel be expanded to 4 events.
</p>
<h3>January 5, 1944</h3>
<p class="text">The club approved allowing the Balmoral school children to curl and that they be asked to form a club, curl once a week and have a bonspiel with the teachers being asked to supervise.</p>
<h3>November 1944</h3>
<p class="text">Ladies Curling Club - Pres - Mrs. Brown; Vice-Pres - Mrs. Barbour and Sec- Edna Fines. 10 members and they curled on men's schedule.</p>
<h3>November 29, 1945</h3>
<p class="text">Open night curling ahs 12 teams. Moved to send a team to Winnipeg to represent Balmoral Curling Club in the MCA Curlers Victory Bonspiel.</p>
<h3>January 1945</h3>
<p class="text">Moved to affiliate with the Manitoba Ladies Curling Ass.<br /><br />Bonspiel held Feb 24</p>
<h3>April 1945</h3>
<p class="text">Annual meeting with 19 members. Moved to curl a ladies draw twice a week for next season.</p>
<h3>February 20, 1946</h3>
<p class="text">Moved that any members of the armed services returning since last fall be admitted to the open bonspiel for free.  Jim Moore team wins Wpg Electric Trophy at MCA bonspiel</p>
<h3>April 9, 1946</h3>
<p class="text">Motion to pay off debt for curling rink to Building Committee.</p>
<h3>1946</h3>
<p class="text">Ladies paid for stove and shelves in rink.</p>
<h3>November 4, 1946</h3>
<p class="text">Moved that the Lady curlers be given the use of the Club Room for meetings.</p>
<h3>June 23, 1947</h3>
<p class="text">Moved to erect a 10 ft x 14 ft pump house adjoining the rink.<br /><br />
			Moved to borrow $500 at 3% interest from G. Shipley to build pump house and drill well.<br /><br />
			Insurance was raised to $3300 for the curling rink and contents.</p>
<h3>1947</h3>
<p class="text">Ladies moved to Monday and Wednesday curling.</p>
<h3>November 3, 1949</h3>
<p class="text">Moved to buy heater for waiting room and build a coal shed on east side of building.</p>
<h3>1951</h3>
<p class="text">Ladies entered team in British Consuls playdowns.</p>
<h3>April 9, 1951</h3>
<p class="text">Moved to approach the Skating and Ball Clubs to share in cost of gravelling the road in from the street.<br /><br /> 
Motion to sponsor a team of high school curlers in the MCA High School Bonspiel in Winnipeg.</p>
<h3>December 17, 1951</h3>
<p class="text">Motion to hold a novelty bonspiel to include all members, lady curlers and high school curlers.</p>
<h3>1953</h3>
<p class="text">Jim Moore team wins Imperial Oil Trophy at MCA bonspiel</p>
<h3>1953/54</h3>
<p class="text">Ladies curling moved to Tuesday afternoon and Friday evening.<br /><br />
Menu for men's bonspiel: hot dog .10, pie .10, coffee/tea .05, hot plate .45, meat pie .25, beans &amp; bread .25.</p>
<h3>February 2, 1957</h3>
<p class="text">Ice rental to outsiders will be $1.50 per game or $18 per day.</p>
<h3>November 21, 1957</h3>
<p class="text">Moved that a delegation from the Curling Club attend the Hall Board meeting to suggest and start plans for a Community Club. The Skating and Ball Clubs be invited to this meeting as well.</p>
<h3>1957/58</h3>
<p class="text">Mary Hume, Dot Martin, Milly McGarva and Lila Bruce chosen to curl in District Playdowns.</p>
<h3>October 29, 1960</h3>
<p class="text">Moved to invite the Lady curlers to curl with the men in regular schedule. The ladies would maintain their own teams rather than a mixed membership.</p>
<h3>1960/61</h3>
<p class="text">28 members curling. Trophy purchased to present to team with most wins in club curling. Sam Good team wins New York life Assurance Trophy at MCA bonspiel </p>
<h3>1962/63</h3>
<p class="text">9 teams of ladies plus 5 teams of school girls curled in regular season.</p>
<h3>April 18, 1963</h3>
<p class="text">The club will approach the ladies about having a joint windup.</p>
<h3>November 14, 1963</h3>
<p class="text">An Honorary Life Membership in the club was presented to Mr. R.</p>
<h3>1964/65</h3>
<p class="text">32 curlers. Held a joint windup and annual meeting with the men's club. New washrooms completed over summer.</p>
<h3>December 6, 1964</h3>
<p class="text">A delegation from the B.C.C. will meet with the Stony Mountain C.C. to plan a way to recognize the Manitoba High School Curling Championship team.</p>
<h3>January 3, 1965</h3>
<p class="text">Moved to limit bonspiel entries to 32: this was raised to 48 on Feb 7, 1965. Sam Good team wins Canada Packers Trophy at MCA bonspiel</p>
<h3>April 20, 1965</h3>
<p class="text">Life Memberships presented to Dan Simpson, Donald Simpson and J. D. Millar.</p>
<h3>April 21, 1966</h3>
<p class="text">Life Membership to Jim Moore.</p>
<h3>1966/67</h3>
<p class="text">Honorary Life Memberships to Dorothy Brown, Gladys Clifford, Phyllis Mercer and Irene Simpson.</p>
<h3>1967/68</h3>
<p class="text">Joyce Lillies begins term on Manitoba Ladies Curling Ass.<br /><br />Club has discussion about having club sweaters.</p>
<h3>May 16, 1967</h3>
<p class="text">Moved to donate $25 to Community Centennial fund and to contribute a float to the parade to be held on June 27, 1970.</p>
<h3>1969/70</h3>
<p class="text">Moved by Ladies Club to accept invitation from Stonewall Ladies to curl with them until Christmas or until we have ice.<br /><br />
Moved to donate $100 to Centennial Committee and enter a float in the Centennial parade.</p>
<h3>January 28, 1970</h3>
<p class="text">Moved that the team with the most wins in the season be awarded the Good Trophy.</p>
<h3>October 29, 1970</h3>
<p class="text">Moved to ban "Rink Rat" brooms for club curling.</p>
<h3>April 30, 1971</h3>
<p class="text">Installation of new pump for the curling rink was financed by the Rec Board.</p>
<h3>November 4, 1971</h3>
<p class="text">"Curling Club voted in favour of forming a corporation that is capable of owning land, consisting of curling and skating rink property, community hall property and ball park."<br /><br /> 
Bonspiel was limited to 56 teams.</p>
<h3>1971/72</h3>
<p class="text">Moved to increase bonspiel limit to 32 since this was Balmoral Centennial year.<br /><br />Honorary Life Memberships to Hazel Preston and Eileen Moore.  Jim Moore is named an Honorary Life Member of the Manitoba Curling Association</p>
<h3>April 5, 1972</h3>
<p class="text">Moved "to build an addition on south end of waiting room, to be constructed the same shape as rink and 14 ft deep"</p>
<h3>April 21, 1973</h3>
<p class="text">The club will request that the R.M. of Rockwood provide a capital grant through the municipal loan and general emergency fund to assist financing of an artificial ice plant and reconstruction of curling building - estimated cost $25,000.</p>
<h3>November 27, 1973</h3>
<p class="text">Moved to start a 200 Club with tickets to be sold for $52.</p>
<h3>1973/74</h3>
<p class="text">New artificial ice surface, curling began Feb 1974.</p>
<h3>1974/75</h3>
<p class="text">Ladies &amp; Mens clubs and Skating and Hockey clubs agree to form Winter Club to meet the expenses of the Rec Centre building and grounds.</p>
<h3>1975/76</h3>
<p class="text">Joyce Lillies served as Provincial Lassie Chairman.</p>
<h3>February 18, 1976</h3>
<p class="text">Moved to limit bonspiel entries to 72.</p>
<h3>January 16, 1978</h3>
<p class="text">Honorary Life Memberships to Fred Pulfer, Lorne Walker, Earl Williams and Bob Lindley.</p>
<h3>1978/79</h3>
<p class="text">Honorary Life Memberships to Edna Fines, Joyce Lillies, Velma Slater and Bea Doan.</p>
<h3>April 10, 1978</h3>
<p class="text">Moved that the Men's Club recommend the Rec Centre Board adopt By-Law #1 as submitted for club discussion and consideration; this by-law to serve as their constitution.</p>
<h3>September 27,1979</h3>
<p class="text">Moved to set up a Mixed League to curl on Sunday afternoon.</p>
<h3>November 20, 1979</h3>
<p class="text">After complaints from curlers it was decided to raise the temperature in the curling rink a few degrees.</p>
<h3>1979/80</h3>
<p class="text">Motion to pay for a trophy case for lounge area<br /><br />
Motion to present gifts to members of Manitoba team who competed at Canada Winter Games..</p>
<h3>1980/81</h3>
<p class="text">Motion to use Balmoral crest on our club curling pins.<br /><br />Ladies Afternoon club started.<br /><br />Started 25 year membership pins.<br /><br />Organizational meeting for the Ladies Afternoon Club - Dec 29,1980<br /><br />
They formed their own executive with Doreen Appleyard serving as the first President<br /><br />
Mrs. Wilson, Mrs. Payne and Mrs. Holloway were the first babysitters and looked after 21 children.<br /><br />
10 teams curled on draws at 10:30 am and 1 pm and paid fees of $15<br /><br />
John &amp; Dale Fox donated money for the Club Trophy<br /><br />
Greg Fines team wins Canada Packers Trophy at MCA bonspiel</p>
<h3>March 30, 1981</h3>
<p class="text">Ladies Honorary Life Membership to Lena Croy.</p>
<h3>October 31, 1981</h3>
<p class="text">Move to approve the formation of the Junior Curling League.<br /><br />
Discussion on proposed expansion of Rec Centre to include a licensed lounge. Men's Club is not in favour of the planned expansion and would not support any expansion of this kind.
<br /><br />
Team of Bev Wait, Joan Main, Brenda Dykstra and Marilynn Miller compete at Provincial Scott Tournament of Hearts
</p>
<h3>1982 - 1983</h3>
<p class="text">Moved to affiliate with the Manitoba Ladies Curling Ass.</p>
<h3>1983 - 1984</h3>
<p class="text">Moved to donate $735.00 for new mirrors and waiting room carpet<br /><br />
Honorary Life Membership to Beryl good<br /><br />
Bev Wait becomes a director on the Manitoba Ladies Curling Ass</p>
<h3>January 16, 1984</h3>
<p class="text">Club purchased 88 new chairs.</p>
<h3>1984/85</h3>
<p class="text">Club jackets were available for members to order.<br /><br />Team of Peggy Goudy, Doreen Appleyard, Jean Paulson and Willa Barr competed in Senior Women's Provincials in Thompson</p>
<h3>1985/86</h3>
<p class="text">Honorary Life Membership to Irene Good.<br /><br />Team of Joyce Lillies, Bea Doan, Nello Reid and Willa Barr competed in Golden Gals Provincials</p>
<h3>1987-1988</h3>
<p class="text">Manitoba Ladies Curling Ass. Junior Women's Scholarship awarded to Michelle Stewart</p>
<h3>February 22, 1988</h3>
<p class="text">Honorary Life Memberships to Lloyd Fines and Emil Garn.
<br /><br />
Teams skipped by Gordon Barr, John Good, Murray Last and Stan Popplestone take part in the Manitoba Curling Association 100th Anniversary bonspiel
</p>
<h3>January 31, 1990</h3>
<p class="text">Honorary Life Membership to Ray McKnight.</p>
<h3>1993 -1994</h3>
<p class="text">Bev Wait serves as President of the Manitoba Ladies Curling Ass. <br /><br />Tricia Tyerman team wins the Transformer Event at the Asham 8-Ender competition of the MCA Christmas bonspiel</p>
<h3>1995</h3>
<p class="text">Bev Wait is named an Honorary Life Member of the MB Ladies Curling Ass</p>
<h3>2008-09</h3>
<p class="text">
Many facility improvements occur prior to the start of the season which translates into more curlers. The club sees a 35% increase in league teams and a 100% increase in bonspiel teams.
</p>
<p class="text">
Several Honourary Life Members are added this year because of the many years without any entries. Recipients are Mary Abrahams, Robert Appleyard, John Barbour, Anne Burton, Theresa Melnychuk-Capuska, Shirley Glucki, Shirley Holod, Herman Kars, Dot Martin, Marcella McKnight, Jean Paulson, Martin Peach, Bill Reynolds, Alex Stewart, Joyce Stewart, Ken Stewart and Lloyd Stewart. Bobby Good leaves Curl Balmoral a substantial donation after his passing.
&nbsp;
</p>
<h3>2009-10</h3>
<p class="text">
More upgrades are completed at the club with the most impressive being the purchase of a new ice scraper. The Dave Meyers rink wins the regional playdowns of the Dominion Curling Club Championship to represent the Interlake at provincials.
</p>
<p class="text">
Three new honourary life members are inducted being Elmore Loehmer, Eilleen Loehmer and Betty Latta.
</p>
<h3>2010-11</h3>
<p class="text">
The lighting over the ice surface is replaced using mostly grant money secured by Darlene Dallman of the Rec Centre. Pauline Blue is inducted at a Honourary Life Member. Lorne Walker leaves Curl Balmoral a large donation after his passing. 
</p>
<h3>2011-12</h3>
<p class="text">
Naming rights to all 48 rock handles were sold off as a fund raiser. Bertha Jeffery, Earle McKinnon, Flo Barber and Ted Glucki were given Honourary Life Member status. The new Curl Balmoral Member Recognition Program was announced and will get into full swing during the 2012-13 season. 
</p>
<h3>2012-13</h3>
<p class="text">
Five new Honourary Life Members (HLM) were inducted into this prestigious group at the 2012/13 curling windup. The Curl Balmoral Board was proud to induct Joan Main, Marilynn Miller, Brenda Dykstra, Jean Main and Bev Wait. This was also the first time we inducted former members into the newly created Distinguished Members category. Curl Balmoral is very proud to have our first group include Gordon Barr, Stan Popplestone, Peggy Goudy, Lois MacKenzie, Ross MacKenzie and Sam Good.. 
</p>
<h3>2014</h3>
<p class="text">
During the offseason, the chiller which is a vital part of the ice plant cooling system needed to be replaced at a substantial cost. Through grant securements by Darlene Dallman, collaboration efforts with the Rec Centre and the available funds form past fund raising efforts along with considerable donations, we were to have the repair completed.
</p>
</div>
<p>&nbsp;</p>
						</td>
					</tr>
				</table>			
			</td>
		</tr>
	</table>
	
</div>
