<div class="container">	
	<div class='banner-links'></div>
	
	<table width='760' cellpadding='0' cellspacing='0' border='0'>
		<tr>
			<td class='menu-links'></td>
			<td class='menu'><span class='textBold'>
<span class="textBold">Curl Balmoral Links</span>
</span></td>
		</tr>
	</table>

	<table class='contentBorder' width='760' cellpadding='0' cellspacing='0' border='0'>
		<tr>
			<td valign='top' width='161' style='background-color: #00502e;' >
				{{ partial "left-menu.html" . }}
			</td>
			<td valign='top' width='599'>
				<table class='text' width='599' cellpadding='0' cellspacing='0' border='0'>
					<tr>
						<td style='padding-left: 10px;'>
							<p>
{{ partial "sponsor.html" . }}
</p>
<table class="text" border="0" cellspacing="0" cellpadding="0" width="100%">
<tbody>
<tr>
<td colspan="2" align="center">
<h1>Curling Links</h1>
</td>
</tr>
<tr>
<td colspan="2">
<h2>Associations</h2>
</td>
</tr>
<tr>
<td width="50%"><a href="http://www.curlmanitoba.org">Manitoba Curling Association</a>&nbsp;</td>
<td>www.curlmanitoba.org</td>
</tr>
<tr>
<td colspan="2"><img src="images/spacer.gif" border="0" alt="spacer" height="10" /></td>
</tr>
<tr>
<td><a href="http://www.sportmanitoba.ca">Sport Manitoba</a>&nbsp;</td>
<td>www.sportmanitoba.ca</td>
</tr>
<tr>
<td colspan="2"><img src="images/spacer.gif" border="0" alt="spacer" height="10" /></td>
</tr>
<tr>
<td><a href="http://www.coachingmanitoba.ca">Coaching Manitoba</a>&nbsp;</td>
<td>www.coachingmanitoba.ca</td>
</tr>
<tr>
<td colspan="2"><img src="images/spacer.gif" border="0" alt="spacer" height="10" /></td>
</tr>
<tr>
<td><a href="http://www.curling.ca">Canadian Curling Association</a>&nbsp;</td>
<td>www.curling.ca</td>
</tr>
<tr>
<td colspan="2"><img src="images/spacer.gif" border="0" alt="spacer" height="10" /></td>
</tr>
<tr>
<td><a href="http://www.worldcurling.org">World Curling Federation</a>&nbsp;</td>
<td>www.worldcurling.org</td>
</tr>
<tr>
<td colspan="2"><img src="images/spacer.gif" border="0" alt="spacer" height="20" /></td>
</tr>
<tr>
<td colspan="2">
<h2>Curling Industry</h2>
</td>
</tr>
<tr>
<td><a href="http://www.asham.com">Asham Curling Supplies</a>&nbsp;</td>
<td>www.asham.com</td>
</tr>
<tr>
<td colspan="2"><img src="images/spacer.gif" border="0" alt="spacer" height="10" /></td>
</tr>
<tr>
<td><a href="http://www.atkinscurling.com">Atkins Curling Supplies</a>&nbsp;</td>
<td>www.atkinscurling.com</td>
</tr>
<tr>
<td colspan="2"><img src="images/spacer.gif" border="0" alt="spacer" height="20" /></td>
</tr>
<tr>
<td colspan="2">
<h2>Other Related Sites</h2>
</td>
</tr>
<tr>
<td><a href="http://www.sandraschmirler.org">Sandra Schmirler Foundation</a>&nbsp;</td>
<td>www.sandraschmirler.org</td>
</tr>
<tr>
<td colspan="2"><img src="images/spacer.gif" border="0" alt="spacer" height="10" /></td>
</tr>
<tr>
<td><a href="http://www.tsn.ca/curling">TSN Curling</a>&nbsp;</td>
<td>www.tsn.ca/curling</td>
</tr>
<tr>
<td colspan="2"><img src="images/spacer.gif" border="0" alt="spacer" height="10" /></td>
</tr>
<tr>
<td><a href="http://www.mycurling.com">MyCurling.Com</a>&nbsp;</td>
<td>www.mycurling.com</td>
</tr>
<tr>
<td colspan="2"><img src="images/spacer.gif" border="0" alt="spacer" height="10" /></td>
</tr>
<tr>
<td valign="top"><a href="http://www.curlingclub.net/index.aspx?url=software/othercurlinggames.htm">Computer Curling Games</a></td>
<td>http://www.curlingclub.net/index.aspx? url=software/othercurlinggames.htm</td>
</tr>
<tr>
<td colspan="2"><img src="images/spacer.gif" border="0" alt="spacer" height="30" /></td>
</tr>
<tr>
<td colspan="2" align="center"><a href="http://www.worldmenscurling2008.com"><br /></a></td>
</tr>
</tbody>
</table>
<p>&nbsp;</p>
						</td>
					</tr>
				</table>			
			</td>
		</tr>
	</table>
	
</div>