<div class="container">	
	<div class='banner-leagues'></div>
	
	<table width='760' cellpadding='0' cellspacing='0' border='0'>
		<tr>
			<td class='menu-leagues'></td>
			<td class='menu'><span class='textBold'>
<span class="textBold"></span>
</span></td>
		</tr>
	</table>

	<table class='contentBorder' width='760' cellpadding='0' cellspacing='0' border='0'>
		<tr>
			<td valign='top' width='161' style='background-color: #00502e;' >
				{{ partial "left-menu.html" . }}
			</td>
			<td valign='top' width='599'>
				<table class='text' width='599' cellpadding='0' cellspacing='0' border='0'>
					<tr>
						<td style='padding-left: 10px;'>
							<p><table class='text' width='100%' border='0' cellspacing='0' cellpadding='2'><tr><td colspan='2'><br /><a class='links' href='curling-leagues.html'><span class='text11Bold'>Friday Night Open League </span></a></td><td style='width: 210px;' valign='top' rowspan='6' align='right'><img alt='curling picture' width='210' border='0' src='images/curling-1max.gif' /></td></tr><tr><td colspan='2'>&nbsp;</td></tr><tr><td style='padding-left:10px;' align='left'>Time:&nbsp;</td><td align='left'>7:30pm</td></tr><tr><td style='padding-left:10px;' align='left'>Start Date:&nbsp;</td><td align='left'>November 1, 2024 to Mid January 2025</td></tr><tr><td style='padding-left:10px;' align='left'>Fee:&nbsp;</td><td align='left'><span style='color:red;'>$100 </span></td></tr><tr valign='top'><td style='padding-left:10px;' align='left'>League&nbsp;Rep:</td><td align='left'>Darrel Argan &nbsp;&nbsp;&nbsp;204-467-9357 <br /><a href='mailto:darrelargan@yahoo.ca'>darrelargan@yahoo.ca</a></td></tr><tr><td colspan='2'><img border='0' src='images/spacer.gif' height='10' alt='spacer' /></td></tr></table><table class='text' width='100%' border='0' cellspacing='0' cellpadding='0'><tr><td style='width:100px; padding-right:5px;' valign='top'>Description:&nbsp;</td><td colspan='2' align='left'>A league for people who like a night of curling but don't want to commit to an entire season of curling. This is a great idea for couples to meet up with friends at the end of a long work week for an evening of fun. Ideal for first time curlers, "veterans" who may have thought their curling days were over, and everyone in between.</td></tr></table><br /><table width='100%' border='0' cellspacing='0' cellpadding='0'><tr align='center'></tr></table><table class='red-disclaimer' style='padding-left: 15px; padding-right: 15px;' border='0' cellspacing='0' cellpadding='0' ><tr><td style='text-align:left;'>*&nbsp;&nbsp;&nbsp;Curlers choosing to participate in more than one league will only pay half the price for any addition night.</td></tr><tr><td>&nbsp;</td></tr></table>
</p>
<p>&nbsp;</p>
						</td>
					</tr>
				</table>			
			</td>
		</tr>
	</table>
	
</div>
