<div class="container">	
	<div class='banner-leagues'></div>
	
	<table width='760' cellpadding='0' cellspacing='0' border='0'>
		<tr>
			<td class='menu-leagues'></td>
			<td class='menu'><span class='textBold'>
<span class="textBold">Curl Balmoral Leagues</span>
</span></td>
		</tr>
	</table>

	<table class='contentBorder' width='760' cellpadding='0' cellspacing='0' border='0'>
		<tr>
			<td valign='top' width='161' style='background-color: #00502e;' >
				{{ partial "left-menu.html" . }}
			</td>
			<td valign='top' width='599'>
				<table class='text' width='599' cellpadding='0' cellspacing='0' border='0'>
					<tr>
						<td style='padding-left: 10px;'>
							<div>
<table border="0" cellspacing="0" cellpadding="0" width="100%">
<tbody>
<tr>
<td valign="top">
			<br />
			
<table border="0" cellspacing="0" cellpadding="0" width="100%">
<tbody>
<tr>
<td align="left">
						<a class="links" href="monday-night-ladies-league.html"><img src="images/arrow-right.gif" border="0" alt="arrow" />&nbsp;<strong>Monday Night Ladies' League</strong></a>
					</td>
</tr>
<tr>
<td><img src="images/spacer.gif" border="0" alt="spacer" height="20" /></td>
</tr>
<tr>
<td align="left">
						<a class="links" href="tuesday-night-mens-league.html"><img src="images/arrow-right.gif" border="0" alt="arrow" />&nbsp;<strong>Tuesday Night Men's League</strong></a>
					</td>
</tr>
<tr>
<td><img src="images/spacer.gif" border="0" alt="spacer" height="20" /></td>
</tr>
<tr>
<td align="left">
						<a class="links" href="after-school-curling-league.html"><img src="images/arrow-right.gif" border="0" alt="arrow" />&nbsp;<strong>Wednesday After School Youth Curling League</strong></a>
					</td>
</tr>
<tr>
<td><img src="images/spacer.gif" border="0" alt="spacer" height="20" /></td>
</tr>
<tr>
<td align="left">
						<a class="links" href="thursday-night-mens-league.html"><img src="images/arrow-right.gif" border="0" alt="arrow" />&nbsp;<strong>Thursday Night Men's League</strong></a>
					</td>
</tr>
<tr>
<td><img src="images/spacer.gif" border="0" alt="spacer" height="20" /></td>
</tr>
<tr>
<td align="left">
						<a class="links" href="friday-night-open-league.html"><img src="images/arrow-right.gif" border="0" alt="arrow" />&nbsp;<strong>Friday Night Open League</strong></a>
					</td>
</tr>
<tr>
<td><img src="images/spacer.gif" border="0" alt="spacer" height="20" /></td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</div>
<p>
{{ partial "sponsor.html" . }}
</p>
						</td>
					</tr>
				</table>			
			</td>
		</tr>
	</table>
	
</div>
