<div class="container">	
	<div class='banner-home'></div>
	
	<table width='760' cellpadding='0' cellspacing='0' border='0'>
		<tr>
			<td class='menu-home'></td>
			<td class='menu'><span class='textBold'>
<span class="textBold">Curl Balmoral Map</span>
</span></td>
		</tr>
	</table>

	<table class='contentBorder' width='760' cellpadding='0' cellspacing='0' border='0'>
		<tr>
			<td valign='top' width='161' style='background-color: #00502e;' >
				{{ partial "left-menu.html" . }}
			</td>
			<td valign='top' width='599'>
				<table class='text' width='599' cellpadding='0' cellspacing='0' border='0'>
					<tr>
						<td style='padding-left: 10px;'>
							<p>
</p>
<div>
<h1>How to get to the Balmoral Curling Club</h1>
<p class="text">
Balmoral Manitoba is located about 25 minutes north of Winnipeg on Highway 7 (Route 90). Turn Left onto Highway 236, pass over the train tracks and the curling club complex is located on your right hand side.
</p>
<p>&nbsp;</p>
<table width="100%" cellspacing="0" cellpadding="0" border="0">
<tbody>
<tr valign="top">
<td align="center">
			<img src="/images/map.gif" alt="map to balmoral curling club" border="0">
		</td>
</tr>
</tbody>
</table>
<br /><br />
</div>
						</td>
					</tr>
				</table>			
			</td>
		</tr>
	</table>
	
</div>
