<div class="container">	
	<div class='banner-home'></div>
	
	<table width='760' cellpadding='0' cellspacing='0' border='0'>
		<tr>
			<td class='menu-home'></td>
			<td class='menu'><span class='textBold'>
<span class="textBold"></span>
</span></td>
		</tr>
	</table>

	<table class='contentBorder' width='760' cellpadding='0' cellspacing='0' border='0'>
		<tr>
			<td valign='top' width='161' style='background-color: #00502e;' >
				{{ partial "left-menu.html" . }}
			</td>
			<td valign='top' width='599'>
				<table class='text' width='599' cellpadding='0' cellspacing='0' border='0'>
					<tr>
						<td style='padding-left: 10px;'>
							<p>
{{ partial "sponsor.html" . }}
</p>
<div>
<h2><span style="text-decoration: underline;">Curl Balmoral Member Recognition Program</span></h2>
<p class="text" align="left"> 
It's the family that makes a home and likewise it's the members that make a club. With over 70 years worth of members, we have had thousands of people call the Balmoral Curling Club their club. These people are the backbone of our group as without them our club does not exist. For this reason, our new membership recognition program was born.
</p>
<h3><span style="text-decoration: underline;">Types of Recognition</span></h3>
<p class="text" align="left"> 
The program has divided our members into three categories which will allow us to properly recognize each member depending on the number of years curled and the level of their involvement with the club. The three groups are as follows. 
</p>
<p class="text" align="left"> 
<strong>Honorary Life Member:</strong> Living members who have curled for 25 years in the Balmoral Curling Club <strong>and/or</strong> have curled for a significant number of years and have served on the executive <strong>and/or</strong> have promoted the sport of curling. Once accepted, your name will be placed on a plaque in the club lounge as well as be kept on an on-line listing (see below).
</p>
<p class="text" align="left"> 
<strong>Distinguished Member:</strong> Deceased members who have curled for 25 years in the Balmoral Curling Club <strong>and/or</strong> have curled for a significant number of years and have served on the executive <strong>and/or</strong> have promoted the sport of curling. Once accepted, your name will be placed on a plaque in the club lounge as well as be kept on an on-line listing (see below).
</p>
<p class="text" align="left"> 
<strong>Past Member:</strong> Any person who curled in any of the Balmoral Curling Club leagues. A listing of Past Members will be kept on an on-line listing (see below).
</p>
<h3><span style="text-decoration: underline;">Nominations</span></h3>
<p class="text" align="left"> 
While the criteria to be listed as a Past Member is rather black and white, the same can not be said for Honourary Life or Distinguished Members. Since there is a level of subjectivity, any future candidates for Honourary Life or Distinguished Members will be brought forth to a nomination committee. With this process a candidate's qualifications will be discussed with the nominator as well as researched with the club records. 
</p>
<p class="text" align="left"> 
Candidates for any type of recognition can be nominated throughout the year but only Past Members can be added to our listing at any time. Nominations for Honourary Life or Distinguished Members must be received by <strong><span style="text-decoration: underline;">February 15</span></strong> each year for the nomination committee to review. Successful candidates will be honoured at the Annual Curling Windup held in late March.
</p>
<div class="center"><a class="links" href="nomination.html">
<h1>On-line Nomination</h1>
</a></div>
<p class="text" align="left"> 
Time may pass but these names will not be forgotten.
</p>
<h2>Honorary Life Members</h2>
<table class="text" width="100%" cellspacing="0" cellpadding="0" border="0">
<tbody>
<tr><td>Mary Abrahams</td><td>Robert Appleyard</td></tr>
<tr><td>Doreen Appleyard</td><td>John Barbour</td></tr>
<tr><td>Flo Barbour</td><td>Les Barr</td></tr>
<tr><td>Willa Barr</td><td>Pauline Blue</td></tr>
<tr><td>Dorothy Brown</td><td>Anne Burton</td></tr>
<tr><td>Gladys Clifford</td><td>Lena Croy</td></tr>
<tr><td>Fred Croy</td><td>Bea Doan</td></tr>
<tr><td>Edwin Dodd</td><td>Linda Dodd</td></tr>
<tr><td>Robert Dodd</td><td>Brenda Dykstra</td></tr>
<tr><td>Edna Fines</td><td>Lloyd Fines</td></tr>
<tr><td>Emil Garn</td><td>Shirley Glucki</td></tr>
<tr><td>Ted Glucki</td><td>Beryl Good</td></tr>
<tr><td>Irene Good</td><td>Elaine Harrison</td></tr>
<tr><td>Mel Harrison</td><td>Shirley Holod</td></tr>
<tr><td>Bertha Jeffery</td><td>Herman Kars</td></tr>
<tr><td>Betty Latta</td><td>Brenda Latta</td></tr>
<tr><td>Joyce Lillies</td><td>Les Lillies</td></tr>
<tr><td>Bob Lindley</td><td>Elmore Loehmer</td></tr>
<tr><td>Eileen Loehmer</td><td>Jean Main</td></tr>
<tr><td>Joan Main</td><td>Dot Martin</td></tr>
<tr><td>Earle McKinnon</td><td>Ray McKnight</td></tr>
<tr><td>Marcella McKnight</td><td>Theresa Melnychuk-Capuska</td></tr>
<tr><td>Phyllis Mercer</td><td>J.D. Millar</td></tr>
<tr><td>Marilynn Miller</td><td>Jim Moore</td></tr>
<tr><td>Eileen Moore</td><td>Jean Paulson</td></tr>
<tr><td>Cecil Payne</td><td>Martin Peach</td></tr>
<tr><td>Hazel Preston</td><td>Fred Pulfer</td></tr>
<tr><td>Bill Reynolds</td><td>Fred Shipley</td></tr>
<tr><td>Dan	Simpson</td><td>Donald Simpson</td></tr>
<tr><td>Irene Simpson</td><td>Velma Slater</td></tr>
<tr><td>Alex Stewart</td><td>Darlene Stewart</td></tr>
<tr><td>Joyce Stewart</td><td>Ken Stewart</td></tr>
<tr><td>Lloyd Stewart</td><td>Marilyn Stewart</td></tr>
<tr><td>Bev Wait</td><td>Lorne Walker</td></tr>
<tr><td>Earle Williams</td><td>George Williams</td></tr>
<tr><td>Shirley Williams</td><td>&nbsp;</td></tr>
</table>
<br />
<h2>Distinguished Members</h2>
<table class="text" width="100%" cellspacing="0" cellpadding="0" border="0">
<tbody>
<tr><td>Lois MacKenzie</td> <td>Ross MacKenzie</td></tr>
<tr><td>Peggy Goudy</td> <td>Sam Good</td></tr>
<tr><td>Gordon Barr</td> <td>Stan Popplestone</td></tr>
</table>
<br /><br />
<!--
<p class="text" align="left"> 
<a href="/HLM.xls">Honourary Life Members List</a>
</p>
<p class="text" align="left"> 
<a href="/Distinguished.xls">Distinguished Members List</a>
</p>
<p class="text" align="left"> 
<a href="/Past.xls">Past Members List</a>
</p>
-->
</div>
						</td>
					</tr>
				</table>			
			</td>
		</tr>
	</table>
	
</div>
