<div class="container">	
	<div class='banner-news'></div>
	
	<table width='760' cellpadding='0' cellspacing='0' border='0'>
		<tr>
			<td class='menu-news'></td>
			<td class='menu'><span class='textBold'>
<span class="textBold">Curl Balmoral News</span>
</span></td>
		</tr>
	</table>

	<table class='contentBorder' width='760' cellpadding='0' cellspacing='0' border='0'>
		<tr>
			<td valign='top' width='161' style='background-color: #00502e;' >
				{{ partial "left-menu.html" . }}
			</td>
			<td valign='top' width='599'>
				<table class='text' width='599' cellpadding='0' cellspacing='0' border='0'>
					<tr>
						<td style='padding-left: 10px;'>
							<p>
{{ partial "sponsor.html" . }}
</p>
<div>
<!--
<h2>Membership Drive</h2>
<p class="text" align="left"> 
Curl Balmoral is implementing a new membership program this season in order to attract new curlers to our club. We feel that we provide a great atmosphere that fosters fun, friendship, exercise and a sense of belonging to our club &amp; community. We need our current club members as well as our larger community base to spread the word to your friends and neighbours that curling in Balmoral is a great choice to get involved in some winter activity. As an incentive for you to be actively looking for possible new curlers to either bring along with you or just to refer to us...WE WILL PAY YOU CASH! Too good to be true? Here's how it works......
</p>
<p class="text" align="left"> 
The person referring the new curler(s) will be given the amount of money the new curler(s) pays in fees if that new curler(s) creates an additional team for the club. If the new curler(s) only replaces part of an existing team that was enrolled last season then the incentive will not be paid out as it has not translated into an additional team. Need some examples......?
</p>
<p class="text" align="left"> 
1. John refers an entire new mens team consisting of Paul, Peter, Frank &amp; Randy to curl Thursday night. John would collect the fees that each of those curlers will pay this season which is $120 per curler so a total of $480.
</p>
<p class="text" align="left"> 
2. Linda refers a single curler named Rebecca to curl ladies this season. If the club is able to match up Rebecca with 3 other new curlers referred by other people then Linda would collect the $120 that Rebecca will pay to curl. If Rebecca does not join a new team but rather fills a vacated spot on an existing team then the money would not be paid out as an additional team has not been created.
</p>
<p class="text" align="left"> 
3. Diana already curls ladies and her husband Bob curls in the mens league. They ask their friends Ruth and Harold if they would like to curl in the mixed league. Diana &amp; Bob would collect the $60 fee that both Ruth and Harold are paying which essentially allows Diana &amp; Bob to curl for free.
</p>
<p class="text" align="left"> 
4. Doug, Leroy, Mike &amp; Curtis curl together on a mens team. They decide to split up the team and ask four other friends to curl with them to make an additional team. Doug &amp; Leroy get Blair &amp; Chris to curl with them and will each collect the $120 the new curlers will pay which essentially allows Doug &amp; Leroy to curl for free. Mike &amp; Curtis ask Dave &amp; Ryan to curl with them and will each collect the $120 the new curlers will pay which also allows Mike &amp; Curtis to curl for free.
</p>
<p class="text" align="left"> 
This is no pyramid scam nor are we out to take advantage of anyone. Curl Balmoral has made a conscious decision to get more curlers involved in our leagues and we will do that without collecting any extra membership fees in the process. In the first season of this program we will work solely toward increasing our indirect revenue of raffle ticket sales, food &amp; beverage sales as well as having a larger target audience for our fund raising initiatives. Our long term goal is to impress these additional curlers with what we have to offer and therefore they will continue supporting our club for many years to come.
</p>
<p class="text" align="left"> 
If there are any questions as to how the program works or if you have a new curler(s) to refer, please contact me and I would be happy to assist. Thank you
</p>
<p class="text" align="left">&nbsp;</p>
<h2>More Improvements</h2>
<p class="text" align="left"> 
After another financially successful year, Curl Balmoral is again re-investing fund back into our facility with three different projects. Partnering with the Balmoral Rec Centre, Curl Balmoral will be rebuilding a compressor on our cooling plant which has long past the recommended number of hours. The estimated $7000 cost will be covered partially using grant money awarded to both clubs and then Curl Balmoral will be covering the balance. We are also attempting to install a permanent drip pan to protect the ice surface from condensation in the infamous drip zone along the home end hog line. This project will cost approx $1200 but will protect our ice surface during warmer weather periods. Lastly, Curl Balmoral will be investing in a set of 8 plaques for the upstairs lounge. A new area upstairs will honour our yearly league champions along with commemorating our honourary life members. This will cost the club approx $1500 but is long overdue.
</p>
-->
<!--
<h2>Another Successful  Fundraiser</h2>
<p class="text" align="left">
Last season the club ran three successful fundraiser being the TV raffle, Bud, Spud &amp; Steak and the Quiz night. Another fundraiser which was announced at last season's windup and carried over the course of the off season has now been sold out. Curl Balmoral has sold the naming rights all 48 of its rock handles which will raise approx $2400 for the club. Thank you to all that continue to support our club.
</p>
-->
<h2>Honourary Life &amp; Distinguished Members</h2>
<p class="text" align="left">
Three new Honourary Life Members (HLM) were inducted into this prestigious group at the 2016/17 curling windup. The Curl Balmoral Board was proud to induct Robert Dodd, Fred Shipley & Brenda Latta.
</p>
<br />
<!--
<h2>Member Recognition</h2>
<p class="text" align="left">
We are very please to continue the Curl Balmoral Member Recognition Program to acknowledge curling members of the past at all levels of participation. We need your help to identify the members of our history. Please click <a href="/member-recognition.html" mce_href="/member-recognition.html">here</a> to learn more.</p>
<br />
-->
</div>
						</td>
					</tr>
				</table>			
			</td>
		</tr>
	</table>
	
</div>
